*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.header-pattern {
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    background-color: deepskyblue;
  }

  #logo {
    width: 300px;
  }

  #titolo {
    margin-top: 40px;
  }

  #scritto-da {
    color: grey;
  }

  #the-booleaner {
    color:deepskyblue
  }

  #data-scrittura {
    color: grey;

  }
